<!DOCTYPE html>
<html>
<head>
	<title>Groove</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div id="header">
		<img src="logo.png" class="logo" alt="Logo of Groove">
		<ul>
			<li id="Music"><a class="headerlink" href="">Music</a></li>
			<li id="Artist"><a class="headerlink" href="">Artist</a></li>
			<li id="PD"><a class="headerlink" href="">Production Company</a></li>
			<li id="Medium"><a class="headerlink" href="">Medium</a></li>
			<li id="Genre"><a class="headerlink" href="">Genre</a></li>
			<li id="About"><a class="headerlink" href="">About</a></li>
		</ul>
	</div>
	<div id="body">
		
	</div>
</body>
</html>