<!DOCTYPE html>
<html>
<head>
	<title>Groove: About</title>
	<link rel="stylesheet" type="text/css" href="..\static\about.css">
</head>
<body>
	<div id="header">
		<img src="../static/logo.png" class="logo" alt="Logo of Groove">
		<ul>
			<li id="Music"><a class="headerlink" href="/music">Music</a></li>
			<li id="Artist"><a class="headerlink" href="">Artist</a></li>
			<li id="PD"><a class="headerlink" href="">Production Company</a></li>
			<li id="Medium"><a class="headerlink" href="">Medium</a></li>
			<li id="Genre"><a class="headerlink" href="">Genre</a></li>
			<li id="About"><a class="headerlink" href="/about">About</a></li>
		</ul>
	</div>
	<div id="body">
		<img src="..\static\Prototype.png" id="Prototype">
		<div id="AboutText">
			<h1 id="First">First Things First</h1>
			<p id="Second"><b>Groove</b> is a course project created by Chen Yu and Kofi Amansie-Boateng for <i>COMS W4111 Introduction to Databases</i>. With limited time and resources, <b>Groove</b> is now working with only a minimal set of features. We are hoping to accomplish more - thanks for the patience.</p>
			<h2 id="Third">Credits</h2>
			<p></p>
		</div>
	</div>
</body>
</html>