<!DOCTYPE html>
<html>
<head>
	<title>Groove: Rank By Music Title</title>
	<link rel="stylesheet" type="text/css" href="../static/music.css">
</head>
<body>
	<script type="text/javascript" src="..\static\Chart.js"></script>
	<div id="header">
		<img src="../static/logo.png" class="logo" alt="Logo of Groove">
		<ul>
			<li id="Music"><a class="headerlink" href="/music">Music</a></li>
			<li id="Artist"><a class="headerlink" href="">Artist</a></li>
			<li id="PD"><a class="headerlink" href="">Production Company</a></li>
			<li id="Medium"><a class="headerlink" href="">Medium</a></li>
			<li id="Genre"><a class="headerlink" href="">Genre</a></li>
			<li id="About"><a class="headerlink" href="/about">About</a></li>
		</ul>
	</div>
	<div id="Selector">
		<div class="Option"><a class="selectorlink" href="/music/add">
			<img src="../static/plus.png" id="Plus">
		</div>
	</div>
	<div id="Chart">
		<canvas id="ChartByMusicTitle"></canvas>
	</div>
	<script type="text/javascript">
		var ctx = document.getElementById("ChartByMusicTitle").getContext("2d");
		var data = {
			labels: ["A","B","C","D","E","F"],
			datasets: [{
				label:"TestDataset",
            	fillColor: "rgba(220,220,220,0.2)",
            	strokeColor: "rgba(220,220,220,1)",
            	pointColor: "rgba(220,220,220,1)",
            	pointStrokeColor: "#fff",
            	pointHighlightFill: "#fff",
            	pointHighlightStroke: "rgba(220,220,220,1)",
            	data: [25,30,40,50,60,15]
			}]

		}
		var myNewChart = new Chart(ctx).Line(data);

	</script>
</body>
</html>