<!DOCTYPE html>
<html>
<head>
	<title>This is a Test Page</title>
</head>
<body>
	<script type="text/javascript" src="..\static\Chart.js"></script>
	<canvas id="myChart" width="400" height="400"></canvas>
	<script type="text/javascript">
		var ctx = document.getElementById("myChart").getContext("2d");
		var data = {
			labels: ["A","B","C","D","E","F"],
			datasets: [{
				label:"TestDataset",
            	fillColor: "rgba(220,220,220,0.2)",
            	strokeColor: "rgba(220,220,220,1)",
            	pointColor: "rgba(220,220,220,1)",
            	pointStrokeColor: "#fff",
            	pointHighlightFill: "#fff",
            	pointHighlightStroke: "rgba(220,220,220,1)",
            	data: {{testList}}
			}]

		}
		var myNewChart = new Chart(ctx).Line(data);

	</script>

</body>
</html>